ZapService.Test/Service References/ZapServiceReference/ZapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63994/ZapService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects" />
  <xs:complexType name="SubscribeResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscribeid" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscribeResponse" nillable="true" type="tns:SubscribeResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects" minOccurs="0" name="error" nillable="true" type="q1:ErrorInfo" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="UnSubscribeResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnSubscribeResponse" nillable="true" type="tns:UnSubscribeResponse" />
</xs:schema>