ZapService.Test/Service References/ZapServiceReference/ZapService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.zapservice.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zapservice.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.zapservice.com/Imports">
      <xsd:import schemaLocation="http://localhost:63994/ZapService.svc?xsd=xsd0" namespace="http://www.zapservice.com/" />
      <xsd:import schemaLocation="http://localhost:63994/ZapService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63994/ZapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects.Requests" />
      <xsd:import schemaLocation="http://localhost:63994/ZapService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects.Responses" />
      <xsd:import schemaLocation="http://localhost:63994/ZapService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZapService_GetOK_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOK" />
  </wsdl:message>
  <wsdl:message name="IZapService_GetOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOKResponse" />
  </wsdl:message>
  <wsdl:message name="IZapService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IZapService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IZapService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IZapService_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IZapService_Devices_InputMessage">
    <wsdl:part name="parameters" element="tns:Devices" />
  </wsdl:message>
  <wsdl:message name="IZapService_Devices_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IZapService">
    <wsdl:operation name="GetOK">
      <wsdl:input wsaw:Action="http://www.zapservice.com/IZapService/GetOK" message="tns:IZapService_GetOK_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zapservice.com/IZapService/GetOKResponse" message="tns:IZapService_GetOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://www.zapservice.com/IZapService/Subscribe" message="tns:IZapService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zapservice.com/IZapService/SubscribeResponse" message="tns:IZapService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://www.zapservice.com/IZapService/UnSubscribe" message="tns:IZapService_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zapservice.com/IZapService/UnSubscribeResponse" message="tns:IZapService_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Devices">
      <wsdl:input wsaw:Action="http://www.zapservice.com/IZapService/Devices" message="tns:IZapService_Devices_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zapservice.com/IZapService/DevicesResponse" message="tns:IZapService_Devices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>