ZapService.Test/Service References/ZapServiceReference/ZapService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubscribeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="event" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targer_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscribeRequest" nillable="true" type="tns:SubscribeRequest" />
</xs:schema>