ZapService.Test/Service References/ZapServiceReference/ZapService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZapServiceNS.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
</xs:schema>